body{
    background-color:#D2CCCA;

}
a:link, a:visited, a:active {
    text-decoration:none;
    color: #1d1b1b;
}
nav{
    background-color:#908D8C ;
    padding: 30px;
}

.menu{
    text-align: center;
    padding: 25px;
    
}

.box{
    font-weight: bold;
    background-color: #908D8C;
    text-align:inherit;
    border-color: black ;
    width: 30%;
    float: left;
    margin: 15px;
    border: 1px solid #1d1b1b;
        
    
}
.box1{
    font-weight: bold;
    background-color: #908D8C;
    
    border-color: black ;
    width: 30%;
    float: left;
    margin: 15px;
    border: 1px solid #1d1b1b;
    
    
}
.navbar-toggler {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
   }

@media screen and (min-width:992px) {
    .navbar-toggler {
        visibility: hidden;
        display: none;
    }
    
    .box{
        width: 30%;
    } 
    .box1{
        width: 30%;
    } 
    
}

@media screen and (max-width:991px) {
    .box{
        width: 45%;
    }
    .box1{
        width: 94%;
    }
   }


@media screen and (max-width:767px) {
    .box{
        width: 100%;
        margin: 5px;
        margin-left: 2PX;
    }
    .box1{
        width: 100%;
        margin: 5px;
        margin-left: 2PX;
    }

}

